/* estilos requeridos */

.panel de folleto,
.folleto-mosaico,
.icono de marcador de folleto,
.marcador-de-folleto-sombra,
.folleto-azulejo-contenedor,
.panel-de-folleto > svg,
.leaflet-pane > lienzo,
.cuadro de zoom del folleto,
.capa de imagen de folleto,
.capa-de-folíolo {
	posición: absoluta;
	izquierda: 0;
	arriba: 0;
	}
.contenedor de folletos {
	desbordamiento: oculto;
	}
.folleto-mosaico,
.icono de marcador de folleto,
.sombra del marcador de folleto {
	-webkit-user-select: ninguno;
	   -moz-user-select: ninguno;
	        selección de usuario: ninguno;
	  -webkit-user-drag: ninguno;
	}
/* Evita que IE11 resalte los mosaicos en azul */
.leaflet-tile::selección {
	fondo: transparente;
}
/* Safari renderiza mejor los mosaicos que no son de retina en la retina con esto, pero Chrome es peor */
.folleto-safari .folleto-mosaico {
	representación de imágenes: -webkit-optimize-contrast;
	}
/* truco que evita que las capas hw se "estiren" al cargar nuevos mosaicos */
.folleto-safari .folleto-azulejo-contenedor {
	ancho: 1600px;
	altura: 1600px;
	-webkit-transform-origin: 0 0;
	}
.icono de marcador de folleto,
.sombra del marcador de folleto {
	pantalla: bloque;
	}
/* .leaflet-container svg: restablece la declaración de ancho máximo del svg incluida en Joomla! (joomla.org) 3.x */
/* .leaflet-container img: el mapa no funciona en FF si tienes max-width: 100% en los mosaicos */
.contenedor-de-folletos .panel-de-superposición-de-folletos svg {
	ancho máximo: ninguno !importante;
	altura máxima: ninguna !importante;
	}
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.contenedor de folletos .mosaico de folletos {
	ancho máximo: ninguno !importante;
	altura máxima: ninguna !importante;
	ancho: automático;
	relleno: 0;
	}

.leaflet-container img.leaflet-tile {
	/* Ver: https://bugs.chromium.org/p/chromium/issues/detail?id=600120 */
	modo de mezcla-mezcla: más-claro;
}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	acción táctil: pan-x pan-y;
	}
.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pellizcar-hacer zoom;
	/*Respaldo para FF que no admite zoom con pellizco */
	acción táctil: ninguna;
	acción táctil: pellizcar-hacer zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: ninguna;
	acción táctil: ninguna;
}
.contenedor de folletos {
	-webkit-tap-highlight-color: transparente;
}
.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.folleto-mosaico {
	filtro: heredar;
	visibilidad: oculta;
	}
.leaflet-tile-loaded {
	visibilidad: heredar;
	}
.cuadro de zoom del folleto {
	ancho: 0;
	altura: 0;
	-moz-box-sizing: cuadro de borde;
	     tamaño de caja: caja de borde;
	índice z: 800;
	}
/* solución alternativa para https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.panel de superposición de folletos svg {
	-moz-user-select: ninguno;
	}

.leaflet-pane { índice z: 400; }

.leaflet-tile-pane { índice z: 200; }
.leaflet-overlay-pane { índice z: 400; }
.leaflet-shadow-pane { índice z: 500; }
.leaflet-marker-pane { índice z: 600; }
.leaflet-tooltip-pane { índice z: 650; }
.leaflet-popup-pane { índice z: 700; }

.leaflet-map-pane lienzo { índice z: 100; }
.leaflet-map-pane svg { índice z: 200; }

.forma-vml-folleto {
	ancho: 1px;
	altura: 1px;
	}
.lvml {
	comportamiento: url(#default#VML);
	pantalla: bloque en línea;
	posición: absoluta;
	}


/*control de posicionamiento*/

.control de folletos {
	posición: relativa;
	índice z: 800;
	pointer-events: visiblePainted; /* IE 9-10 no tiene auto */
	eventos de puntero: auto;
	}
.folleto superior,
.folleto-inferior {
	posición: absoluta;
	índice z: 1000;
	eventos de puntero: ninguno;
	}
.leaflet-top {
	arriba: 0;
	}
.folleto-derecha {
	derecha: 0;
	}
.folleto-inferior {
	abajo: 0;
	}
.folleto-izquierda {
	izquierda: 0;
	}
.control de folletos {
	flotador: izquierda;
	claro: ambos;
	}
.folleto-derecho .folleto-control {
	flotar: derecha;
	}
.leaflet-top .leaflet-control {
	margen superior: 10px;
	}
.leaflet-bottom .leaflet-control {
	margen inferior: 10px;
	}
.folleto-izquierdo .folleto-control {
	margen izquierdo: 10px;
	}
.folleto-derecho .folleto-control {
	margen derecho: 10px;
	}


/* animaciones de zoom y desvanecimiento */

.leaflet-fade-anim .leaflet-popup {
	opacidad: 0;
	-webkit-transition: opacidad 0,2s lineal;
	   -moz-transition: opacidad 0,2 s lineal;
	        transición: opacidad 0,2s lineal;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacidad: 1;
	}
.leaflet-zoom-animado {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        origen-de-transformación: 0 0;
	}
svg.folleto-zoom-animado {
	voluntad-cambiar: transformar;
}

.leaflet-zoom-anim .leaflet-zoom-animado {
	-webkit-transition: -webkit-transform 0,25s cúbico-bezier(0,0,0,25,1);
	   -moz-transition: -moz-transform 0.25s cúbico-bezier(0,0,0.25,1);
	        transición: transformar 0,25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	-webkit-transition: ninguna;
	   -moz-transition: ninguna;
	        transición: ninguna;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibilidad: oculta;
	}


/* cursores */

.folleto-interactivo {
	cursor: puntero;
	}
.captura de folleto {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: agarrar;
	}
.folleto-cruz,
.leaflet-crosshair .leaflet-interactivo {
	cursor: cruz;
	}
.panel emergente de folleto,
.control de folletos {
	cursor: automático;
	}
.arrastre de folletos .agarre de folletos,
.arrastrar folletos .agarrar folletos .interactivos de folletos
.leaflet-arrastrar .leaflet-marker-arrastrable {
	cursor: mover;
	cursor: -webkit-agarrando;
	cursor: -moz-grabbing;
	cursor: agarrando;
	}

/* interactividad de marcadores y superposiciones */
.icono de marcador de folleto,
.marcador-de-folleto-sombra,
.capa de imagen de folleto,
.leaflet-pane > ruta svg,
.leaflet-tile-container {
	eventos de puntero: ninguno;
	}

.folleto-marcador-icono.folleto-interactivo,
.capa de imagen de folleto.folleto-interactivo,
.leaflet-pane > ruta svg.leaflet-interactive,
ruta svg.leaflet-image-layer.leaflet-interactive {
	pointer-events: visiblePainted; /* IE 9-10 no tiene auto */
	eventos de puntero: auto;
	}

/* ajustes visuales */

.contenedor de folletos {
	fondo: #ddd;
	desplazamiento del contorno: 1px;
	}
.leaflet-container a {
	color: #0078A8;
	}
.cuadro de zoom del folleto {
	borde: 2px punteado #38f;
	fondo: rgba(255,255,255,0.5);
	}


/* tipografía general */
.contenedor de folletos {
	familia de fuentes: "Helvetica Neue", Arial, Helvetica, sans-serif;
	tamaño de fuente: 12px;
	tamaño de fuente: 0.75rem;
	altura de línea: 1,5;
	}


/* estilos generales de la barra de herramientas */

.barra de folleto {
	caja-sombra: 0 1px 5px rgba(0,0,0,0.65);
	radio del borde: 4px;
	}
.leaflet-bar a {
	color de fondo: #fff;
	borde inferior: 1px sólido #ccc;
	ancho: 26px;
	altura: 26px;
	altura de línea: 26px;
	pantalla: bloque;
	alinear texto: centro;
	decoración de texto: ninguna;
	color: negro;
	}
.barra de folleto a,
.control-de-hojas-alternar-capas {
	posición de fondo: 50% 50%;
	repetición de fondo: no repetir;
	pantalla: bloque;
	}
.leaflet-bar a:hover,
.leaflet-bar a:focus {
	color de fondo: #f4f4f4;
	}
.leaflet-bar a:primer-hijo {
	borde superior izquierdo radio: 4px;
	radio del borde superior derecho: 4px;
	}
.leaflet-bar a:último-hijo {
	borde inferior izquierdo radio: 4px;
	radio del borde inferior derecho: 4px;
	borde inferior: ninguno;
	}
.leaflet-bar a.leaflet-deshabilitado {
	cursor: predeterminado;
	color de fondo: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	ancho: 30px;
	altura: 30px;
	altura de línea: 30px;
	}
.leaflet-touch .leaflet-bar a:primer-hijo {
	borde superior izquierdo radio: 2px;
	radio del borde superior derecho: 2px;
	}
.leaflet-touch .leaflet-bar a:último-hijo {
	borde inferior izquierdo radio: 2px;
	borde inferior derecho radio: 2px;
	}

/* control de zoom */

.control-de-folleto-zoom-in,
.control-de-folleto-zoom-out {
	fuente: negrita 18px 'Lucida Console', Mónaco, monoespaciado;
	sangría de texto: 1px;
	}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
	tamaño de fuente: 22px;
	}


/* control de capas */

.capas de control de folletos {
	caja-sombra: 0 1px 5px rgba(0,0,0,0.4);
	fondo: #fff;
	radio del borde: 5px;
	}
.control-de-hojas-alternar-capas {
	imagen de fondo: url(imagenes/capas.png);
	ancho: 36px;
	altura: 36px;
	}
.leaflet-retina .leaflet-control-capas-toggle {
	imagen de fondo: url(imagenes/capas-2x.png);
	tamaño de fondo: 26px 26px;
	}
.leaflet-touch .leaflet-control-capas-toggle {
	ancho: 44px;
	altura: 44px;
	}
.capas-de-control-de-folletos .lista-de-capas-de-control-de-folletos,
.capas de control de folleto expandidas .capas de control de folleto alternadas {
	pantalla: ninguna;
	}
.capas de control de folletos expandidas .lista de capas de control de folletos {
	pantalla: bloque;
	posición: relativa;
	}
.capas de control de folletos expandidas {
	relleno: 6px 10px 6px 6px;
	color: #333;
	fondo: #fff;
	}
.leaflet-control-capas-barra-de-desplazamiento {
	desbordamiento-y: desplazarse;
	desbordamiento-x: oculto;
	relleno-derecho: 5px;
	}
.selector de capas de control de folleto {
	margen superior: 2px;
	posición: relativa;
	superior: 1px;
	}
.leaflet-control-layers etiqueta {
	pantalla: bloque;
	tamaño de fuente: 13px;
	tamaño de fuente: 1.08333em;
	}
.separador-de-capas-de-control-de-folleto {
	altura: 0;
	borde superior: 1px sólido #ddd;
	margen: 5px -10px 5px -6px;
	}

/* URL de iconos predeterminados */
.leaflet-default-icon-path { /* se usa solo en la heurística de adivinación de ruta, consulte L.Icon.Default */
	imagen de fondo: url(imagenes/icono-de-marcador.png);
	}


/* controles de atribución y escala */

.leaflet-container .leaflet-control-attribution {
	fondo: #fff;
	fondo: rgba(255, 255, 255, 0.8);
	margen: 0;
	}
.control-de-folleto-atribución,
.línea de escala de control de folleto {
	relleno: 0 5px;
	color: #333;
	altura de línea: 1,4;
	}
.control-de-folleto-atribución a {
	decoración de texto: ninguna;
	}
.control-de-folleto-atribución a:hover,
.control-de-folleto-atribución a:focus {
	decoración de texto: subrayado;
	}
.leaflet-attribution-flag {
	pantalla: en línea !importante;
	vertical-align: línea base !importante;
	ancho: 1em;
	altura: 0,6669em;
	}
.folleto-izquierdo .folleto-escala-de-control {
	margen izquierdo: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margen inferior: 5px;
	}
.línea de escala de control de folleto {
	borde: 2px sólido #777;
	borde superior: ninguno;
	altura de línea: 1.1;
	relleno: 2px 5px 1px;
	espacio en blanco: nowrap;
	-moz-box-sizing: cuadro de borde;
	     tamaño de caja: caja de borde;
	fondo: rgba(255, 255, 255, 0.8);
	sombra de texto: 1px 1px #fff;
	}
.línea de escala de control de folleto:no(:primer hijo) {
	borde superior: 2px sólido #777;
	borde inferior: ninguno;
	margen superior: -2px;
	}
.leaflet-control-scale-line:no(:primer-hijo):no(:último-hijo) {
	borde inferior: 2px sólido #777;
	}

.leaflet-touch .leaflet-control-atribución,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	caja-sombra: ninguna;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	borde: 2px sólido rgba(0,0,0,0.2);
	clip de fondo: cuadro de relleno;
	}


/* ventana emergente */

.folleto-emergente {
	posición: absoluta;
	alinear texto: centro;
	margen inferior: 20px;
	}
.leaflet-popup-content-wrapper {
	relleno: 1px;
	alinear texto: izquierda;
	radio del borde: 12px;
	}
.contenido emergente del folleto {
	margen: 13px 24px 13px 20px;
	altura de línea: 1.3;
	tamaño de fuente: 13px;
	tamaño de fuente: 1.08333em;
	altura mínima: 1px;
	}
.contenido emergente del folleto p {
	margen: 17px 0;
	margen: 1.3em 0;
	}
.leaflet-popup-tip-container {
	ancho: 40px;
	altura: 20px;
	posición: absoluta;
	izquierda: 50%;
	margen superior: -1px;
	margen izquierdo: -20px;
	desbordamiento: oculto;
	eventos de puntero: ninguno;
	}
.folleto-ventana-popup-tip {
	ancho: 17px;
	altura: 17px;
	relleno: 1px;

	margen: -10px auto 0;
	eventos de puntero: auto;

	-webkit-transform: rotar(45 grados);
	   -moz-transform: rotar(45 grados);
	    -ms-transform: rotar(45 grados);
	        transformar: rotar(45deg);
	}
.leaflet-popup-contenido-wrapper,
.folleto-ventana-popup-tip {
	fondo: blanco;
	color: #333;
	caja-sombra: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	posición: absoluta;
	arriba: 0;
	derecha: 0;
	borde: ninguno;
	alinear texto: centro;
	ancho: 24px;
	altura: 24px;
	fuente: 16px/24px Tahoma, Verdana, sans-serif;
	color: #757575;
	decoración de texto: ninguna;
	fondo: transparente;
	}
.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button:focus {
	color: #585858;
	}
.folleto-emergente-desplazado {
	desbordamiento: automático;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	-ms-zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	ancho: 24px;
	margen: 0 automático;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filtro: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}

.folleto-antiguo .folleto-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	borde: 1px sólido #999;
	}


/* icono div */

.folleto-div-icono {
	fondo: #fff;
	borde: 1px sólido #666;
	}


/* Información sobre herramientas */
/* Estilos base para el elemento que tiene una información sobre herramientas */
.leaflet-tooltip {
	posición: absoluta;
	relleno: 6px;
	color de fondo: #fff;
	borde: 1px sólido #fff;
	radio del borde: 3px;
	color: #222;
	espacio en blanco: nowrap;
	-webkit-user-select: ninguno;
	-moz-user-select: ninguno;
	-ms-user-select: ninguno;
	selección de usuario: ninguno;
	eventos de puntero: ninguno;
	caja-sombra: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-interactive {
	cursor: puntero;
	eventos de puntero: auto;
	}
.leaflet-tooltip-top:antes,
.leaflet-tooltip-bottom:antes,
.leaflet-tooltip-left:antes,
.leaflet-tooltip-right:antes {
	posición: absoluta;
	eventos de puntero: ninguno;
	borde: 6px sólido transparente;
	fondo: transparente;
	contenido: "";
	}

/*Direcciones*/

.leaflet-tooltip-bottom {
	margen superior: 6px;
}
.leaflet-tooltip-top {
	margen superior: -6px;
}
.leaflet-tooltip-bottom:antes,
.leaflet-tooltip-top:antes {
	izquierda: 50%;
	margen izquierdo: -6px;
	}
.leaflet-tooltip-top:antes {
	abajo: 0;
	margen inferior: -12px;
	color del borde superior: #fff;
	}
.leaflet-tooltip-bottom:antes {
	arriba: 0;
	margen superior: -12px;
	margen izquierdo: -6px;
	color del borde inferior: #fff;
	}
.leaflet-tooltip-left {
	margen izquierdo: -6px;
}
.leaflet-tooltip-right {
	margen izquierdo: 6px;
}
.leaflet-tooltip-left:antes,
.leaflet-tooltip-right:antes {
	parte superior: 50%;
	margen superior: -6px;
	}
.leaflet-tooltip-left:antes {
	derecha: 0;
	margen derecho: -12px;
	color del borde izquierdo: #fff;
	}
.leaflet-tooltip-right:antes {
	izquierda: 0;
	margen izquierdo: -12px;
	color del borde derecho: #fff;
	}

/*Impresión*/

@media print {
	/* Evita que las impresoras eliminen las imágenes de fondo de los controles. */
	.control de folletos {
		-webkit-print-color-adjust: exacto;
		ajuste-color-impresión: exacto;
		}
	}